
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h1>Your Text: <%= @user_phrase%></h1>
    <h1>Your Text in Pig Latin: <%= @converted_text%></h1>
  </body>
</html>
